---
layout: archive
permalink: /tags/
title: "By Tag"
author_profile: true
modified: 2026-07-18
sitemap: false
---

{% include base_path %}
{% assign tagged_docs = site.projects | concat: site.blog %}
{% include group-by-array collection=tagged_docs field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}