---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
      {% if page.coauthors %}
        <p class="page__meta page__coauthors"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Joint work with {% for coauthor in page.coauthors %}{{ coauthor }}{% if forloop.rindex == 2 %} and {% elsif forloop.last == false %}, {% endif %}{% endfor %}</p>
      {% endif %}
    {% endunless %}
    {{ content }}
    {% if page.tags[0] %}
      <footer class="page__meta">
        <p class="archive__item-tags">
          <i class="fa fa-fw fa-tags" aria-hidden="true"></i>
          {% for tag in page.tags %}<span class="archive__item-tag">{{ tag }}</span>{% endfor %}
        </p>
      </footer>
    {% endif %}
  </div>
</div>
